<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mario Run </title>

    <link rel="stylesheet" href="../static/css/mario.css">
    <script  src="../static/script/mario.js" defer></script>
</head>
<body>
    
    <div class="game-board" method="post">
        <img src="../static/Image/imagesMario/clouds.png" class="clouds" alt="nuvens">
        <img src="../static/Image/imagesMario/mario.gif"  class="mario"       alt="mario">
        <img src="../static/Image/imagesMario/pipe.png"   class="pipe"   alt="tudo-do-jogo-mario">
    </div>
</body>
</html>